<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hololive Resistance - Music Player</title>
</head>
<body>
    <h1>{{music.author}} - {{music.name}}</h1>
    <audio controls>
        <source src="/audio/{{music.id}}.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</body>
</html>